/* Waiting Container */
#waiting-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 25px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#waiting-container h3 {
    color: #1E1A43;
    font-size: 45px;
    font-weight: bold;
    margin: 0;
}
#waiting-container h5 {
    color: #4A4A4A;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 0 0;
}

/* Personal Ranking */
#personal-ranking-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
    overflow: hidden;
}
/* Personal Ranking Flag */
.ranking-flag-wrapper {
    position: relative;
    display: inline-block;
}
.ranking-flag-image {
    width: 365px;
    height: 350px;
    object-fit: contain;
}
.ranking-flag-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}
.ranking-container .ranking-flag-content h3, 
.ranking-container .ranking-flag-content h4 {
    color: #FFFFFF;
    margin-top: 5px;
}
/* Message */
.ranking-container h3, 
.ranking-container h4 {
    color: #1E1A43;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.ranking-container p {
    margin-top: 18px;
    color: #4A4A4A;
    font-size: 25px;
}
/* View Leaderboard Button */ 
#viewLeaderboard {
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

/* Leaderboard */
#leaderboards-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 68vh;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 25px;
    align-items: center;
    overflow: hidden;
}
#leaderboards-container h3 {
    color: #1E1A43;
    font-size: 25px;
    font-weight: bold;
    top: 25px;
    left: 25px;
    position: absolute;
}
.ranking-platform {
    background-image: url('http://localhost/QUILANA/image/RankingPlatformCrown.png');
    background-size: contain; 
    width: 365px;
    height: 380px; /*350px*/
    background-position: top center;
    background-repeat: no-repeat;

}
.ranking-platform-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    color: #FFFFFF;
    width: 100%;
    font-weight: bold;
}
.top-entry {
    text-align: center;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 96px;
}
.top-name {
    color: #FFFFFF;
}
.leaderboard-group-container {
    margin-top: -200px;
    font-size: 16px;
    background-color: #484376;
    border-radius: 10px;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}
.leaderboard-group-container::-webkit-scrollbar {
    display: none;
}
.leaderboard-entry {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 15px 0 15px;
}
.highlighted-entry {
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
}
.leaderboard-name {
    color: #FFFFFF;
    text-align: left;
}
.leaderboard-score {
    text-align: right;
    color: #BF88EC;
}
.rank-container {
    display: flex;
    align-items: center;
    margin: 20px 10px 5px 10px;
}
.separator-line {
    flex-grow: 1;
    height: 1px;
    border-color: #FFFFFF;
    margin: 0 10px;
}
.rank {
    padding: 0 10px;
    font-weight: bold;
    color: #FFFFFF;
}
#close{
    padding: 10px 45px;
    font-size: 14px;
    outline: none;
}

/* Base styles for top entries */
.top-entry {
    padding-top: 20px;
    text-align: center;
}

.top-name {
    font-size: 18px;
}

.top-score {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    #personal-ranking-container h3, 
    #personal-ranking-container h4 {
        font-size: 26px;
    }

    #personal-ranking-container p {
        font-size: 22px;
    }

    #waiting-container h3 {
        font-size: 36px;
    }
}

@media screen and (max-width: 480px) {
    #personal-ranking-container h3, 
    #personal-ranking-container h4,
    #leaderboards-container h3 {
        font-size: 24px;
    }

    #waiting-container h3 {
        font-size: 30px;
    }

    .ranking-flag-content {
        font-size: 26px;
        padding-top: 80px;
    }
    #personal-ranking-container p,
    #waiting-room h5 {
        font-size: 18px;
    }

    #viewLeaderboard {
        font-size: 16px;
    }

    .ranking-flag-image {
        width: 100%;
    }

    .ranking-flag-content {
        top: 35%;
    }

    .leaderboard-entry {
        font-size: 14px;
    }
}